<h1>Hello.</h1>

<h3>This is a simple app that allows for advanced searching of Twitter. The current version requires users to sign in via thier Twitter Account. It is a great app! If you're interested in playing around in it, please sign in via your Twitter Account in the upper right corner.</h3>


<h3>more info..</h3>
<h4>I created this as a final project for a web development course -- General Assembly's Web Development Immersive. This project was a learning experience with certain goals in mind: create a functional single page app that I would use, integrate Angular and Ruby on Rails, practice JavaScript, learn more about data structures and searching.</h4>

<p>If you're interested in the source code, visit <a href="https://github.com/cmcilhenny/twitter_listener/tree/master">my github</a>.</p>
<p>- Courtney</p>